<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
    >
      <!--  -->
    </v-navigation-drawer>

    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>MAKESEND</v-toolbar-title>
    </v-app-bar>

    <v-main>
      <nuxt />
    </v-main>

  </v-app>
</template>

<script>
  export default {
    data: () => ({ drawer: null }),
  }
</script>