<template>
  <v-container class=" lighten-5 h-100 d-flex flex-column">
    <v-row no-gutters class="">
      <v-col cols="12">
        <v-row>
          <v-col cols="8">
            <datetime />
          </v-col>

          <v-col cols="2">
            <v-text-field
              label="โอนแล้ว" value="0.00"
              prefix=":"
              readonly
            ></v-text-field>
          </v-col>

          <v-col cols="2">
            <v-text-field label="Total" value="0.00" prefix=":" readonly></v-text-field>
          </v-col>
        </v-row>

        <v-data-table
          :headers="headers"
          :items="desserts"
          :items-per-page="5"
          class="elevation-1"
          hide-default-footer
        >
          <template v-slot:item.status="{ item }">
            <v-btn
              v-if="item.status == 'success'"
              small
              class="ma-2"
              outlined
              color="#7CB342"
              rounded
            >
              โอนแล้ว
            </v-btn>
            <v-btn
              v-else-if="item.status == 'wait'"
              small
              class="ma-2"
              outlined
              color="#D32F2F"
              rounded
            >
              รอโอน
            </v-btn>
          </template>
        </v-data-table>

        

        

      </v-col>
    </v-row>
    <v-row class="flex-grow-0 mb-2">
          <v-btn depressed color="#F57C00"
          dark
          > Export </v-btn>
    </v-row>
  </v-container>
</template>

<script>
import datetime from './../components/datetime.vue'
export default {
  data() {
    return {
      headers: [
        {
          text: 'Sender Name',
          align: 'start',
          sortable: false,
          value: 'sender_name',
          align: 'center',
        },
        {
          text: 'Contact',
          sortable: false,
          align: 'center',
          value: 'sender_contact',
        },
        { text: 'No.', sortable: false, align: 'center', value: 'No' },
        {
          text: 'Amount',
          sortable: false,
          align: 'center',
          value: 'sn_total_amount',
        },
        {
          text: 'Total',
          sortable: false,
          align: 'center',
          value: 'sn_total_cod',
        },
        { text: 'Status', sortable: false, align: 'center', value: 'status' },
      ],
      desserts: [
        {
          sender_name: 'Frozen Yogurt',
          sender_contact: '083-808-0721',
          No: '7',
          sn_total_amount: '2,300',
          sn_total_cod: '12,000',
          status: 'wait',
        },
        {
          sender_name: 'สุมาศ',
          sender_contact: '083-808-0721',
          No: '12',
          sn_total_amount: '7,000',
          sn_total_cod: '8,900',
          status: 'success',
        },
      ],
    }
  },
  components: {
    datetime,
  },
}
</script>

<style lang="scss" scoped>
</style>